@model MoviesDBModels.CinemaRoom

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
    <h2>Room Creation</h2>
    <form asp-controller="Cinema" asp-action="RegisterCinema" method="post">
        <input type="hidden" class="form-control" asp-for="@Model.Id" name="id">
        <div class="form-group">
            <label for="roomNumber">Room Number</label>
            <input type="number" class="form-control" asp-for="@Model.RoomNumber" name="RoomNumber">
        </div>
        <div class="form-group">
            <label for="roomNumber">Room Capacity</label>
            <input type="number" class="form-control" asp-for="@Model.Capacity" name="Capacity" >
        </div>
        <button type="submit" class="btn btn-dark">Create</button>
    </form>
</div>