@model List<MoviesDBModels.CinemaRoom>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container row">
    <h2>Cinema Rooms Summary</h2>
    <button class="btn btn-dark right-btn" onclick="location.href='@Url.Action("AddCinemaRoom", "Cinema")'"><i class="fas fa-plus"></i> Add Room</button>
</div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Room Number</th>
            <th scope="col">Capacity</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var room in Model)
        {
            <tr>
                <th scope="row">@room.Id</th>
                <td>Room @room.RoomNumber</td>
                <td>@room.Capacity</td>
            </tr>
        }
        </tbody>
    </table>
</div>


