@model List<MoviesDBModels.CinemaRoom>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
    <h2 style="display: inline-block">Cinema Rooms Summary</h2>
    <button  class="btn btn-dark form-inline" style="float: right; display: inline-block" onclick="location.href='@Url.Action("AddCinemaRoom", "Cinema")'"><i class="fas fa-plus"></i> Add Room</button>
    <br/>
</div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Room Number</th>
            <th scope="col">Capacity</th>
            <th scope="col">Is Avaliable</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var room in Model)
        {
            <tr>
                <td>Room @room.RoomNumber</td>
                <td>@room.Capacity</td>
                <td>Yes</td>
                <td>Functions</td>
            </tr>
        }
        </tbody>
    </table>
</div>


