@model MoviesDBModels.CinemaRoom

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container row">
    <h2>Cinema Rooms Summary</h2>
    <button class="btn btn-dark right-btn" onclick="location.href='@Url.Action("AddCinemaRoom", "Cinema")'"><i class="fas fa-plus"></i> Add Room</button>
</div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>twitter</td>
        </tr>
        </tbody>
    </table>
</div>


