@model List<MoviesDBModels.OrderDetail>

@{
    ViewBag.Title = "Orders";
    Layout = "_Layout";
}

<h2>title</h2>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">@item.productName</h2>
                            
                        <p class="dual-label-title">Quantity</p>
                        <p class="dual-label-element">@item.totalAmount</p>
                                
                        <p class="dual-label-title">Unit Price</p>
                        <p class="dual-label-element">$@String.Format("{0:0,0.00}",@item.total)  MXN</p>
                            
                        <p class="dual-label-title">Total</p>
                        <p class="dual-label-element">$@String.Format("{0:0,0.00}",@item.totalSum) MXN</p>
    
                    </div>
                </div>
            </div>
        }
    </div>
</div>


