@model MoviesDBModels.CinemaDashBoard
@{
    ViewData["Title"] = "Dashboard";
}
<div>
    <div class="container">
        <h1>Cinema Dashboard</h1>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Cinema Rooms</h2>
            
                        <p class="dual-label-title">Operating rooms</p>
                        <p class="dual-label-element">@Model.totalRooms</p>
            
                        <p class="dual-label-title">Unused rooms</p>
                        <p class="dual-label-element">2</p>
            
                        <p class="dual-label-title">Rooms to free</p>
                        <p class="dual-label-element">4 (in the next hour)</p>
            
                        <a href="#" class="btn btn-primary">Manage rooms</a>
                    </div>
                </div>
            </div>
      
      
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Ticket Sales</h2>
              
                        <p class="dual-label-title">Total ticket sales</p>
                        <p class="dual-label-element">768 tickets sold</p>
                        
                        <p class="dual-label-title">Ticket sales</p>
                        <p class="dual-label-element">$83,738.00 mxn</p>
              
                        <p class="dual-label-title">Missing seats</p>
                        <p class="dual-label-element">43 seats</p>
              
                        
              
                        <a href="#" class="btn btn-primary">Manage rooms</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Food Summary</h2>
                    
                        <p class="dual-label-title">item availability</p>
                        <p class="dual-label-element">@Model.availableFoodItems (@Model.totalFoodItems) </p>
                    
                        <p class="dual-label-title">Total revenue</p>
                        <p class="dual-label-element">$435,123.00 mxn</p>
                        
                    
                        <a href="/Cinema/ListAllOrders/" class="btn btn-dark">Manage snack store</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>