@model MoviesDBModels.CinemaDashBoard
@{
    ViewData["Title"] = "Dashboard";
    var ticketsSales = ViewData["ticketsSales"];
    var ticketOrders = ViewData["ticketOrders"];
    var foodSales = ViewData["foodSales"];
    var foodOrders = ViewData["foodOrders"];
}
<div>
    <div class="container">
        <h1>Cinema Dashboard</h1>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Cinema Rooms</h2>
            
                        <p class="dual-label-title">Operating rooms</p>
                        <p class="dual-label-element">@Model.totalRooms</p>
            
                        <p class="dual-label-title">Unused rooms</p>
                        <p class="dual-label-element">2</p>         
            
                        <a href="/Cinema/CinemaRooms/" class="btn btn-dark">Manage Rooms</a>
                    </div>
                </div>
            </div>
      
      
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Ticket Sales</h2>
              
                        <p class="dual-label-title">Total ticket sales</p>
                        <p class="dual-label-element">@ticketOrders tickets sold</p>
                        
                        <p class="dual-label-title">Ticket sales</p>                        
                        <p class="dual-label-element">$@String.Format("{0:0,0.00}",@ticketsSales) MXN</p>
              
                        <a href="/Cinema/ListAllOrders/" class="btn btn-dark">Manage Orders</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Food Summary</h2>
                    
                        <p class="dual-label-title">Item availability</p>
                        <p class="dual-label-element">@Model.availableFoodItems (@Model.totalFoodItems) </p>
                        
                        <p class="dual-label-title">Total food orders</p>
                        <p class="dual-label-element">@foodOrders orders sold</p>
                    
                        <p class="dual-label-title">Total revenue</p>
                        <p class="dual-label-element">$@String.Format("{0:0,0.00}",@foodSales) MXN</p>
                        
                    
                        <a href="/Cinema/ListAllProducts/" class="btn btn-dark">Manage Snack Store</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>