@model ShowtimeFormModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
  
}

<h2>Create Showtime</h2>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  @* @Html.DropDownListFor(m => m.roomId, ViewBag["rooms"], "Default label", new { @class = "form-control" }) *@
  
  <div class="form-group">
    <label for="roomId">Cinema Room</label>
    <select name="roomId" asp-items="Model.rooms"></select>
  </div>
  
  <div class="form-group">
    <label for="roomId">Movie</label>
    <select asp-for="showTime.movieId" name="" asp-items="Model.movies"></select>
  </div>
  
  <div class="form-group">
      <div class='input-group date' id='datetimepicker1'>
          <input type='text' class="form-control" />
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>

