@model MoviesDBModels.Movie;

<!DOCTYPE html>

<html>
<head>
    <title>Movie Detail</title>
</head>
<body>
<div class="container">
    <p>
        @ViewData["movie"]
    </p>
    <p>
        @ViewData["movieDate"]
    </p>
</div>
</body>
</html>