.card .card-body .dual-label-title {
    margin: 0px;
    padding: 0px;
}

.card .card-body .dual-label-element {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.card {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}